In [ ]:
import pandas as pd
from natasha import AddrExtractor, MorphVocab

In [21]:
data1 = pd.read_csv(r"C:\Users\vitaly.flerin\Desktop\result.csv" \
    , sep=',' , encoding='cp1251') #, index_col=0 - индекс 
data1.head()

  create_date       subs_id                                             mark_6
0  2022-09-14  300002341055  У вас есть запись разговоров вот и смотрите ни...
1  2022-11-03  200102964910  На все вопросы сотрудники отвечали доступно, п...
2  2022-07-19      46541013  Ростовская обл цимлянский район ст красноярска...
3  2022-04-04      62082420                                   Спасибо вам тоже
4  2022-01-31  200073346869  Частный дом в Калужской обл. Перемышльского ро...

In [22]:
df = data1[0:1000]
#df['mark_6']=df['mark_6'].apply(str)
df

,create_date,subs_id,mark_6
0,2022-09-14,300002341055,У вас есть запись разговоров вот и смотрите ни...
1,2022-11-03,200102964910,"На все вопросы сотрудники отвечали доступно, п..."
2,2022-07-19,46541013,Ростовская обл цимлянский район ст красноярска...
3,2022-04-04,62082420,Спасибо вам тоже
4,2022-01-31,200073346869,Частный дом в Калужской обл. Перемышльского ро...
...,...,...,...
995,2022-03-02,31028461,Ул.Лизюкова д.60
996,2022-07-01,300050727323,За год связь ниразу не подвела. И в поездках и...
997,2022-08-02,46067574,г. Волгоград
998,2022-11-24,200071407658,СПб.пос.Рощино
999,2022-09-05,200075348501,Казань шамиля усманова 21

In [ ]:
morph_vocab = MorphVocab()
extractor = AddrExtractor(morph_vocab)

def fix_addr(text):
    text=str(text)
    matches = extractor(text)
    return (', '.join(f'{match.fact.type or ""} {match.fact.value}' for match in matches)) or None

print(fix_addr('Дзержинск в нижегородской области.Пр.Циолковского 79а,'))
#df['city']=df['mark_6'].map(fix_addr)
df['city'] = df['mark_6'].apply(lambda x: fix_addr(x))
print(df[['city','mark_6']])
#df

In [30]:
df.to_excel(r"C:\Users\vitaly.flerin\Desktop\qwe1.xlsx", index=False)