<a href="https://colab.research.google.com/github/Vitalyastiy/courses/blob/main/04_CodingBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Основы программирования

### Воспользуемся калькулятором

In [ ]:
# Питон можно использовать как калькулятор: операция вычитания
print(4 - 2)

2

In [ ]:
# также доступно умножение
print(3 * 5)

15

In [ ]:
# деление
print(15 / 3)

5.0

In [ ]:
# и возведение в степень
print(2 ** 3)

8

### Сравним значения

In [ ]:
# верное сравнение
print(4 > 2)

True

In [ ]:
# неверное сравнение
print(4 < 2)

False

In [ ]:
# сравнение "больше или равно"
print(4 >= 4)

True

In [ ]:
# и "меньше или равно"
print(2 <= 0)

False

### Сохраним информацию

In [ ]:
# переменной x присвоим значение 5
x = 5

# теперь мы можем использовать переменную вместо числа
print(x * 2)

10

In [ ]:
# также в переменную можно записывать строки (текст)
y = 'Питон'

# выведем строку
print(y)

Питон

In [ ]:
# Питон умеет считать количество символов в строке. Функция len()
print(len(y))

5

In [ ]:
# выведем первую букву в слове "Питон" по ее индексу
print(y[0])

П

### Присваивание и равенство

In [ ]:
# одиночный знак равно "=" присваивает значение переменной
z = 7
print(z)

7

In [ ]:
# двойной знак равно "==" означает равенство
# по сути, мы просим Питон сравнить, верно ли равенство или нет
print(7 == 7)

True

In [ ]:
# тогда как
print(5 == 7)

False

### Упражнения

**Задание 1**. Используя только одну команду `print()`, сложите числа 4 и 5, вычтите 3 и выведите результат.

**Задание 2**. Верно ли, что число 18 меньше 27? Проверьте это с помощью Питона и выведите результат.

In [1]:
18 < 27

True

**Задание 3**. Верно ли, что -2 меньше либо равно 0?

**Задание 4**. Создайте переменную `w` и запишите в нее значение 33. Используя переменную `w`, разделите 33 на 11 и выведите результат.

**Задание 5**. Запишите в переменную `v` следующую строку: "Я уже программирую на Питоне".

**Задание 6**. Сколько символов в строке, которую вы записали в переменную `v`?

**Задание 7**. Снова возьмите строку из задания 5. Используя индекс, выведите букву "ж".

Подсказка: помните, что индекс начинается с нуля и пробел - это тоже символ.

**Задание 8**. Верно ли, что 5 равно 10?

### Ответы на вопросы

**Вопрос**. Чем отличается оператор равенства `==` от оператора тождественности `is`?

In [2]:
# создадим список из трех чисел и поместим его в переменную a
# (списки рассматриваются на следующем занятии)
a = [1, 2, 3]

# передадим этот список функции list(),
# которая создаст новый объект(!) этого списка
b = list(a)

# значения списков равны,
print(a == b)
# но эти списки находятся в разных объектах в памяти
print(a is b)

True
False