<a href="https://colab.research.google.com/github/Vitalyastiy/courses/blob/main/%D0%9A%D0%B0%D1%80%D0%BF%D0%BE%D0%B2_%D0%BF%D0%B8%D1%82%D0%BE%D0%BD/%D0%9A%D0%B0%D1%80%D0%BF%D0%BE%D0%B2_%D1%82%D0%B5%D1%81%D1%82.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Карпов. КУРС «ОСНОВЫ PYTHON»

Раздел 2. Переменные

In [ ]:
# Задача 3
# В переменной father_age хранится возраст отца, а в переменной son_age — возраст сына. Посчитайте, через сколько лет отец будет вдвое старше сына. Результат сохраните в переменную result.
father_age + result==(son_age+result) *2

In [ ]:
# Задача 8
# В переменной a сохранено число с десятичной частью но в формате строки, например '3.14'. В переменную с сохраните целую часть из числа в переменной a.
c = round(float(a))

In [ ]:
#задача 9
# В переменной х уже сохранено целое положительное число. Вычислите x + x0x0x. Результат сохраните в переменную result.
# То есть, если x = 2, то нужно вычислить 2 + 20202.
x= 2
result = x + int(str(x)+"0"+str(x)+"0"+str(x))
result

In [2]:
# Задача 10
# Укажите все сравнения, в результате которых мы получим True.
'ИВАН' < 'иван'
'Python' < 'R'
'big number' != 'bug number'

True

In [ ]:
#Задача 11
#В переменной m хранится целое положительное число — продолжительность сна в минутах. Если продолжительность сна составит от 7 до 9 часов включительно, то в переменную optimal_sleep_duration сохраните значение True. В противном случае присвойте это переменной значение False.
optimal_sleep_duration = m/60 >= 7 and m/60 <10

In [5]:
# Задача 12
# В переменной x хранится целое число. Проверьте, делится ли это число без остатка на 3 и на 7. Результат сохраните в переменную result. Переменная result должна иметь логический тип данных.
x = 21
x%7 == 0 and x%3 ==0

True

In [10]:
# Задача 13
# Хорошо ли вы умеете пользоваться логическим типом данных? Сопоставьте выражения и их значения.

b = True + 0
g = 2 == True
a = False - True
c = bool(False + 1)
d = True + 0.1
f = False ** True
e = True ** 0.5
print(a, b, c, d, e, f, g, sep = '\n')

-1
1
True
1.1
1.0
0
False

In [17]:
# Задача 14
# Сохраните в переменную square строку, которая выводит на экран прямоугольник 4 х 4, сформированный из звездочек, разделенных пробелом.
square = '* * * *\n* * * *\n* * * *\n* * * *'
print(square)

* * * *
* * * *
* * * *
* * * *

Раздел 3. Методы

In [3]:
# Задание 4
# В my_list сохранен список как минимум с двумя элементами.
# В переменную first_item сохраните первый элемент списка.
# В переменную last_item сохраните последний элемент списка.
# В переменную reversed_list сохраните все элементы списка my_list в обратном порядке.
# В переменную even_items сохраните все элементы my_list с четными индексами.

first_item = my_list[0]
last_item  = my_list[-1]
reversed_list  = my_list[::-1]
even_items  = my_list[::2]

['Anatoly', 1, 3]

In [8]:
# Задание 5

# В переменную var_1 сохраните список с числами от -100 до 100 включительно с шагом в 1.
# В переменную var_2 сохраните список с числами от 250 до 0 включительно с шагом в 2.
# В переменную var_3 сохраните список со всеми нечетными числами от 100 до 200.

var_1 = list(range(-100,101))
var_2 = list(range(250,-1, -2))
var_3 = list(range(101,200,2))

In [14]:
# Задача 6
# В переменных  a и b хранятся числа — начало и конец диапазона. Напишите программу, которая вернет сумму всех чисел из этого диапазона. Сохраните значение в переменную result.
a = 1
b = 3
result = sum(list(range(a,b+1)))

In [ ]:
# Задача 7
# Давайте потренируемся использовать различные методы списков. В переменной my_list сохранен не пустой список, в котором есть число 11.
# Найдите первый индекс числа 11 в my_list, сохраните индекс в переменную eleven_index.
# В переменную ten_count сохраните, сколько раз в списке my_list встречается число 10.
my_list = [1, 10, 0, 10, 11]
eleven_index = my_list.index(11)
eleven_index

my_list = [11, 2, 0, 6,10, 10]
ten_count = my_list.count(10)
ten_count

In [49]:
# Задача 8
# В student_names сохранен список с именами студентов, добавьте в список два имени 'Anatoly' и 'Oksana'.
# В scores сохранен список из десяти целых чисел, удалите из него второй, пятый и последний элемент.
# В lessons сохранен список с названием уроков, отсортируйте названия уроков в списке по алфавиту.

student_names = ['Ian', 'Ivan']
scores = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lessons = ['Python', 'Analytics']

student_names += ['Anatoly', 'Oksana']
scores.pop(2)
scores.pop(3)
scores.pop(-1)

lessons.sort()

# student_names = ['Ian', 'Ivan', 'Anatoly', 'Oksana']
# scores = [0, 2, 3, 5, 6, 7, 8]
# lessons = ['Analytics', 'Python']

[0, 1, 3, 5, 6, 7, 8, 9]

In [ ]:
# Задача 10
# Создайте кортеж с названиями дней недели и сохраните его в переменную days_of_the_week.
days_of_the_week =('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [71]:
# Задание 11
# В переменной numbers_list сохранен список с целыми числами. В списке минимум два разных целых числа.
# В переменную numbers_list_ordered сохраните все числа из списка numbers_list, отсортированные по убыванию. При этом сам список numbers_list не должен изменяться.
# В переменную numbers_set сохраните множество из уникальных чисел из списка numbers_list. Дополните это множество следующим целым числом после максимального числа из numbers_list.
# В переменную numbers_frozenset сохраните неизменяемое множество из всех уникальных чисел из списка numbers_list, кроме минимального числа.

numbers_list = [1, 1, 2, 2, 3, 3, 4, 4]

numbers_list_ordered = [5, 5, 3, 3, 1]
numbers_set = set([1, 3, 5, 6])
numbers_frozenset = frozenset([3, 5])


numbers_list_ordered  = sorted(numbers_list, reverse = True)

numbers_set = sorted(numbers_list)
numbers_set_ = numbers_set[-1]
numbers_set.append(numbers_set_+1)
numbers_set = set(numbers_set)

a = numbers_list.copy()

a = set(a)
m= min(a)
a.remove(m)
numbers_frozenset = frozenset(a)
numbers_frozenset

frozenset({2, 3, 4})

In [9]:
# Задача 12
# Даны два списка list_1 и list_2. Отсортируйте list_1 по возрастанию, а list_2 по убыванию.
# Объедините list_1 и list_2 в один отсортированный по возрастанию список list_3.
# В переменную list_3_len сохраните длину  list_3.
list_1 = [1, 5, 3]
list_2 = [2, 8]
# ->
list_1.sort()
list_2.sort(reverse=True)
list_3= list_1+list_2
list_3.sort()
list_3_len = len(list_3)
list_3_len

5

In [2]:
# Задача 13
# В переменной menu хранится множество всех позиций меню кофейни, а в переменной stop — множество позиций меню кофейни, недоступных для заказа сегодня.
# Сохраните в переменную menu_today позиции меню, которые доступны для заказа сегодня.

menu = {'White Chocolate Mocha', 'Americano', 'Flat White', 'Latte',
        'Blueberry Muffin', 'Chocolate Chip Cookie'}
stop = {'White Chocolate Mocha', 'Blueberry Muffin'}

#menu_today = {'Americano', 'Flat White', 'Latte', 'Chocolate Chip Cookie'}


menu.difference(stop)

{'Americano', 'Chocolate Chip Cookie', 'Flat White', 'Latte'}

In [6]:
# Задача 14
# В переменной my_set множество (set) из чисел. В переменной to_delete число, которое нужно удалить из my_set, если оно там есть. Если такого числа нет в my_set ничего делать не надо.
my_set = {0, 10, 100}
to_delete = 0
# ====>
# my_set = {10, 100} # удалили 0

# my_set = {0, 10, 100}
# to_delete = -2
# ====>
# my_set = {0, 10, 100} # ничего не сделали

my_set.discard(to_delete)
my_set

{10, 100}

In [10]:
# Задача 15
# В students хранится множество студентов it-центра МАИ. Студент, имя которого записано в new_student, перевелся в МАИ из другого института, его имя нужно добавить в students.
# В переменной churn_student — студент, который хочет перевестись из МАИ в другой институт, его имя нужно убрать из students.
students = {'Кравченко Виталий', 'Полякова Ольга', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария'}
new_student = 'Василенко Анна'
churn_student = 'Полякова Ольга'
# # ->
# students = {'Кравченко Виталий', 'Некрасов Игорь', 'Дудочкин Илья', 'Захарова Мария', 'Василенко Анна'}


students.add(new_student)
students.remove(churn_student)
students

{'Василенко Анна',
 'Дудочкин Илья',
 'Захарова Мария',
 'Кравченко Виталий',
 'Некрасов Игорь'}

In [12]:
# Задача 16
# В переменной da_students хранятся имена студентов курса "Аналитик данных", а в переменной dv_students — имена студентов курса "Визуализация данных". Сохраните в переменную students студентов, которые обучаются на обоих курсах.
# Порядок элементов в students не имеет значения.

# студенты курса "Аналитик данных"
da_students = {'Ivanov Alexander', 'Loginov Vladislav', 'Ershova Anna', 'Korneva Daria'}
# студенты курса "Визуализация данных"
dv_students = {'Ershova Anna', 'Egunov Andrey', 'Ignatov Alexey', 'Loginov Vladislav'}

# результат
# students = {'Loginov Vladislav', 'Ershova Anna'}



students = dv_students.intersection(da_students)
students

{'Ershova Anna', 'Loginov Vladislav'}