<a href="https://colab.research.google.com/github/Vitalyastiy/libraries/blob/main/pandas/hubr_mini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Мини-курс. Часть 1.
https://habr.com/ru/company/ods/blog/322626/

In [ ]:
# импортируем Pandas и Numpy
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('https://github.com/Vitalyastiy/libraries/blob/main/kaggle/iris.csv?raw=true')
df

In [ ]:
df

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [ ]:
df.rename(columns= {'Petal Width (cm)':'Petal_Width_(cm)'}, inplace = True)
df

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.shape

In [ ]:
print(df.columns)

Index(['Id', 'Sepal Length (cm)', 'Sepal Width (cm)', 'Petal Length (cm)',
       'Petal Width (cm)', 'Species'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 150 non-null    int64
 1   Sepal Length (cm)  150 non-null    float64
 2   Sepal Width (cm)   150 non-null    float64
 3   Petal Length (cm)  150 non-null    float64
 4   Petal Width (cm)   150 non-null    float64
 5   Species            150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
df.describe(include=['object', 'bool']) # замена типа значений

In [ ]:
df.describe()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm)
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.054000,3.758667,1.198667
std,43.445368,0.828066,0.433594,1.764420,0.763161
min,1.000000,4.300000,2.000000,1.000000,0.100000
25%,38.250000,5.100000,2.800000,1.600000,0.300000
50%,75.500000,5.800000,3.000000,4.350000,1.300000
75%,112.750000,6.400000,3.300000,5.100000,1.800000
max,150.000000,7.900000,4.400000,6.900000,2.500000

In [ ]:
df['Species'].value_counts() # подсчет количества значений для типов объект и булево. normalize=True - для оценки относительных частот

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
df.sort_values(by='Petal_Width_(cm)', ascending=False).head(3)

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm),Species
100,101,6.3,3.3,6.0,2.5,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica

In [ ]:
df.sort_values(by=['Petal_Width_(cm)','Species' ], ascending=[True, False])
df

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df['Petal_Width_(cm)'].mean()

1.1986666666666668

In [ ]:
df[df['Species'] == 'Iris-virginica'].mean() # среднее значение с условием

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Id                   125.500
Sepal Length (cm)      6.588
Sepal Width (cm)       2.974
Petal Length (cm)      5.552
Petal_Width_(cm)       2.026
dtype: float64

In [ ]:
df[df['Species'] == 'Iris-virginica']['Petal_Width_(cm)'].mean() # среднее с условием

2.0260000000000002

In [ ]:
df[(df['Species'] == 'Iris-setosa') & (df['Petal_Width_(cm)'] == 0.2)]['Sepal Width (cm)'].mean() # среднее с несколькими условиями

3.3892857142857147

In [ ]:
df

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df.loc[49:50, 'Id':'Petal_Width_(cm)']

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm)
49,50,5.0,3.3,1.4,0.2
50,51,7.0,3.2,4.7,1.4

In [ ]:
df.iloc[49:50, 1:3]   #разница между методами

    Sepal Length (cm)  Sepal Width (cm)
49                5.0               3.3

In [ ]:
df.iloc[::-1] # развернуть фрейм

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal_Width_(cm),Species
149,150,5.9,3.0,5.1,1.8,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
...,...,...,...,...,...,...
4,5,5.0,3.6,1.4,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
0,1,5.1,3.5,1.4,0.2,Iris-setosa

In [ ]:
df.apply(np.max)  # нампи максимальное значение в каждой колонке

Id                              150
Sepal Length (cm)               7.9
Sepal Width (cm)                4.4
Petal Length (cm)               6.9
Petal_Width_(cm)                2.5
Species              Iris-virginica
dtype: object