<a href="https://colab.research.google.com/github/Vitalyastiy/libraries/blob/main/pandas/pythonru_mini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Мини-курс. Часть 1.

In [ ]:
#импортируем Pandas и Numpy
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('https://github.com/Vitalyastiy/libraries/blob/main/kaggle/iris.csv?raw=true', 
                delimiter =",")#
df

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df[['Species', 'Id']]

            Species   Id
0       Iris-setosa    1
1       Iris-setosa    2
2       Iris-setosa    3
3       Iris-setosa    4
4       Iris-setosa    5
..              ...  ...
145  Iris-virginica  146
146  Iris-virginica  147
147  Iris-virginica  148
148  Iris-virginica  149
149  Iris-virginica  150

[150 rows x 2 columns]

In [ ]:
df[df.Species=='Iris-setosa'].head(6)

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa